

body{
    background-color: rgb(228, 189, 214);
}
.products
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.product
{
    width: 20%;
    background-color: rgb(238, 225, 234);
    text-align: center;
    transition:transform  0.5s ;
}
.product:hover
{
    transform: scale(1.05);
    box-shadow: 2px 10px 20px #372929;
}
a{
    color: #370e27;
}